.btn-dark {
background: $green;
font-size: 20px;
color:white;
border: 2px solid $green;
border-radius: 4px;
padding: 15px 25px;
&:hover {
background: $green-dark;
color:white;
border: 2px solid $green-dark;
}
}

.btn-white {
background: white;
color : $purple;
border: 2px solid $purple;
border-radius: 4px;
padding: 15px 25px;
margin-top: 25px;
margin-bottom: 20px;
&:hover {
background: $purple;
color:white;
border: 2px solid $purple;
}
}