---
title: Guide des procédures fiscales
---

<div class="welcome text-center padded-double">
  <h1>Guide des procédures fiscales</h1>
</div>

<div class="text-center">
	<%= link_to 'Nous contacter', '/#', :class => "btn btn-lg btn-white" %>
</div>